<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="box">
    <h2>GitHub Contribution Snake</h2>

  <div id="game-wrapper">
    <canvas id="game"></canvas>

    <div id="overlay" class="hidden">
      <div id="overlay-message"></div>
      <div id="overlay-score"></div>
    </div>

    <div id="footer">
      <div id="score"></div>
      <div id="status"></div>
      <div id="timer"></div>

      <div class="legend">
        <span>Less</span>
        <div class="legend-box" style="background:#161b22"></div>
        <div class="legend-box" style="background:#0e4429"></div>
        <div class="legend-box" style="background:#006d32"></div>
        <div class="legend-box" style="background:#26a641"></div>
        <div class="legend-box" style="background:#39d353"></div>
        <span>More</span>
      </div>
    </div>
  </div>
  </div>

  <script src="game.js"></script>
</body>

</html>